body {
  position: relative;
  margin: 0px;
  font-family: "filson-soft";
  background-color: #c4cca6;
}

.page-wrap {
  max-width: 1300px;
  margin: auto;
  position: relative;
}

header {
  background-color: #868f62;
  z-index: 999;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 133px;
}

header .social-row {
  position: absolute;
  right: 20px;
  top: 20px;
}

header .social-row i {
  font-size: 19px;
  margin: 2px;
  cursor: pointer;
}

header .logo_cont {
  text-align: center;
  color: #312f2f;
  font-family: "maryam";
}

header .logo_cont h1 {
  margin: 10px 0px;
  margin-top: 0px;
  padding-top: 10px;
  font-size: 70px;
  line-height: 60px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul a {
  padding: 1rem 2rem;
  font-size: 14px;
  color: #312f2f;
  font-style: normal;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
}

.text-center {
  width: 70%;
  margin: auto;
}

.text-center p {
  font-weight: 300;
}

#single {
  background-size: cover;
  width: 100%;
  position: relative;
  background-color: white;
  height: 100vh;
}

#single .banner {
  height: 60vh;
}

#single .overlay {
  background-color: rgba(134, 143, 98, 0.2);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
}

#single .bot_textarea {
  position: absolute;
  bottom: 0px;
  background-color: white;
  max-width: 900px;
  padding: 20px;
  padding-bottom: 40px;
  left: 0px;
  right: 0px;
  margin: auto;
}

#single .bot_textarea h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 100;
  margin: 10px 0px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

#single .bot_textarea a {
  color: #868f62;
  display: block;
  text-align: center;
  position: relative;
  margin-top: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

#single .bot_textarea a:before {
  content: "";
  height: 1px;
  width: 100px;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  display: block;
  background-color: black;
}

#single .bot_textarea a:after {
  content: "";
  height: 1px;
  width: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  display: block;
  background-color: black;
}

#frontpage {
  height: 100vh;
  background-size: cover;
  width: 100%;
  position: relative;
}

#frontpage .banner {
  height: 100vh;
  width: 100%;
  z-index: 9;
  background-size: cover;
}

#frontpage .overlay {
  background-color: rgba(134, 143, 98, 0.2);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
}

#frontpage .bot_textarea {
  position: absolute;
  bottom: 0px;
  background-color: white;
  max-width: 900px;
  padding: 20px;
  padding-bottom: 40px;
  left: 0px;
  right: 0px;
  margin: auto;
}

#frontpage .bot_textarea h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 100;
  margin: 10px 0px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

#frontpage .bot_textarea a {
  color: #868f62;
  display: block;
  text-align: center;
  position: relative;
  margin-top: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

#frontpage .bot_textarea a:before {
  content: "";
  height: 1px;
  width: 100px;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  display: block;
  background-color: black;
}

#frontpage .bot_textarea a:after {
  content: "";
  height: 1px;
  width: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  display: block;
  background-color: black;
}
